.user-show-cards {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  padding: 0px !important;
  margin-bottom: 5px;
}

.user-show-card-title {
  background-color: #E8D33F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  padding: 6px;
  margin-bottom: 30px;


  h2 {
    margin: 0px;
    font-size: 1.6rem;
    padding-left: 20px;
  }
}

.user-show-card-content {
  padding-bottom: 20px;

  p {
    padding-left: 40px;
  }
}

.participant-cards {

  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  margin-bottom: 30px;

  p, div {
    padding:6px 12px;
    margin: 5px;
  }
}

.avatar {
  border: 1px solid rgba(0,0,0,0.2) !important;
}

.avatar-large {
  height: 56px;
  border: 2px solid rgba(0,0,0,0.2) !important;
}

.avatar-profil {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.2) !important;
}

.play-link {
  color: black;

}

.game-card {
  transition: all .5s;
  // border: 1px solid rgba(0,0,0,0.2) !important;
  border-radius: 5px;
  opacity: 0.8;
}

.play-link:hover {
  background-color: grey;

  .game-card {
    background-color:lightgrey;
    transform: translateY(-5px);
    opacity: 1;
    transition: all .2s;
  }
}

.test {
  position: absolute;
  z-index: 999999;
  right: -8px;
  top: -16px;
}
