<% if @player %>
  <p class="btn btn-success">
    <% if @player.avatar.attached? %>
      <%= cl_image_tag @player.avatar.key, class: "avatar" %>
    <% else %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/random", class: "avatar" %>
    <% end %>
    <%= "#{@player.first_name} #{@player.last_name}"%>
  </p>
<% else %>
  <p class="btn btn-primary"><%= participation.optional_name %></p>
<% end %>
