<% if @player %>
  <p class="btn btn-primary">
    <% if @player.avatar.attached? %>
      <%= cl_image_tag @player.avatar.key, class: "avatar" %>
    <% else %>
      <%= image_tag "user_avatar.png", class: "avatar" %>
    <% end %>
    <%= "#{@player.first_name} #{@player.last_name}"%>
  </p>
<% else %>
  <div class="btn btn-light" style="height:54px">
    <p><%= participation.optional_name %></p>
  </div>
<% end %>
