<div class="card m-3" style="width: 18rem;">
  <%= cl_image_tag @play.photos.sample.key, class: "card-img-top", height: 200, width: 300, crop: :fill %>
  <div class="card-body">
    <p class="card-text"><b><%= @play.game.name %></b></p>
    <p class="card-text" style="text-align: right">from <em><%= @play.game.company.name %></em> </p>
  </div>
</div>
