<div class="container">
  <p>
    Name: <%= @game.name %>
  </p>
  <p>
    Rating: <%= @game.rating %>
  </p>
  <p>
    Description: <%= @game.description %>
  </p>
  <p>
    Price: <%= @game.price %>
  </p>
</div>

