<div class="container">
  <p>
    Name: <%= @company.name %>
  </p>
  <p>
    Address: <%= @company.address %>
  </p>
  <p>
    Description: <%= @company.description %>
  </p>
  <p>
    Website: <%= @company.website %>
  </p>
</div>


