.footer {
  display: flex;
  padding: 16px;
  justify-content: space-around;
  align-items: center;
  background-color: #253347;
  color: lightgrey;
}

.footer-text {
  p{
    margin: 0;
    font-size: 12px;
  }
}
